@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.App {
  text-align: center;
}


/* .landingPageMainFlexbox {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-evenly;
} */

.landingdiv {
  position: absolute;
  width: 100%;
  height: 100%;
}

.textDiv { 
  position: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 2;
}
.textDiv h2{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* Header Anim Classes */
.line-1{
  position: relative;
  top: 50%;  
  border-right: 2px solid rgba(0,0,0,.75);
  white-space: nowrap;
  overflow: hidden;
  /* -webkit-transform: translateY(-50%);
  transform: translateY(-50%); */
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
